In [1]:
x = 2
x = 4
print(x)

4

In [2]:
print([1, 24, 76])
print(['red', 'yellow', 'blue'])
print(['red', 24, 98.6])
print([ 1, [5, 6], 7])
print([])

[1, 24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

In [3]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [4]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [5]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

In [6]:
fruit = 'Banana'
x = fruit.lower()
print(x)

lotto = [2, 14, 26, 41, 63]
print(lotto)

lotto[2] = 28
print(lotto)

banana
[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

In [7]:
greet = 'Hello Bob'
print(len(greet))

x = [ 1, 2, 'joe', 99]
print(len(x))

9
4

In [8]:
print(range(4))
friends = ['Joseph', 'Glenn', 'Sally']

print(len(friends))

print(range(len(friends)))

range(0, 4)
3
range(0, 3)

In [9]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [10]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [11]:
t = [9, 41, 12, 3, 74, 15]
a = t[1:3]
print(a)
b = t[:4]
print(b)
c = t[3:]
print(c)
t[:]

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]

[9, 41, 12, 3, 74, 15]

In [12]:
x = list()
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [14]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [15]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [16]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [17]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value 
    count = count + 1
                
average = total / count
print('Average:', average)

Enter a number: 34
Enter a number: 34
Enter a number: done
Average: 34.0

In [18]:
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

    average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 3
Enter a number: 45
Enter a number: 67
Enter a number: done
Average: 38.333333333333336

In [19]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])

['With', 'three', 'words']
3
With

In [20]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
for w in stuff :
    print(w)

['With', 'three', 'words']
With
three
words

In [21]:
line = 'A lot of            spaces'
etc = line.split()
print(etc)

line = 'first;second;third'
thing = line.split()
print(thing)
print(len(thing))

thing = line.split(';')
print(thing)
print(len(thing))

['A', 'lot', 'of', 'spaces']
['first;second;third']
1
['first', 'second', 'third']
3

In [22]:
fhand = open('mbox.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From ') : continue
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

In [23]:
line = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
words = line.split()
print(words)

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [25]:
line = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
words = line.split()
email = words[1]
pieces = email.split('@')
print(pieces[1])

uct.ac.za